.todo-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 5px;
  width: 700px;
  align-items: center;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.todo-container.slide-out {
  transform: scale(1) translateX(-100vw) translateY(20px);
}
.todo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ccc;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  gap: 10px;
  width: 500px;
}

.todo-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.todo-expand {
  display: flex;
  flex-direction: column;
  align-items: start;
  animation: slideDown 0.3s ease-in-out;
  width: 100%;
}

.todo-expand.slide-up {
  animation: slideUp 0.3s ease-in-out;
}

.todo-expand h2 {
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.todo-description-box {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  width: 100%;
  line-height: 1.5;
  text-align: left;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.todo-textbox {
  display: flex;
  flex-direction: column;
}
.todo-detail-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.todo-detail-box button {
  padding: 10px;
  background: transparent;
  border: none;
  cursor: default;
  outline: none;
}
.priority-urgent {
  color: #ee0c1f;
}
.priority-high {
  color: #ffa502;
}
.priority-moderate {
  color: #05fa2e;
}
.priority-low {
  color: #0752f5;
}

.icon {
  cursor: pointer;
  height: 100%;
  width: 34px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconOpen {
  transform: rotate(180deg);
}
.icon svg {
  height: 100%;
  width: 100%;
}

.toggle-button-complete {
  background-color: #4caf50;
  transition: background-color 0.3s ease-in-out;
}
.toggle-button-incomplete {
  background-color: #f44336;
  transition: background-color 0.3s ease-in-out;
}
