.todo-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: center;
    margin:auto;
    width: 500px;
    
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items:center;
    border: 2px solid #ccc;
    padding-left: 10px;
    border-radius: 10px;
    
    
}